.home{
    display:grid;
    grid-template-columns: 1fr 740px 1fr;
    grid-gap: 20px;
}

.right__sec{
    min-height: 100vh;
    border: 1px solid black;
}

.left__sec{
    min-height:100vh;
    border: 1px solid green;
}

.blog__sec{
    min-height:100vh;
    border: 1px solid red;
}

@media screen and (max-width: 992px) {
    .right__sec, .left__sec{
        display: none;
    }
    .blog__sec{
        width: 100vw;
        min-height:100vh;
    }
}

.searchBox{
    text-align: center;
}
.searchInput{
    display: inline-block;
    box-shadow: 2px 2px 6px 0px rgba(142,142,142,1);
    border: none;
    border-radius: 4px;
    padding: .75rem;
    outline: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    width: 80%;
    max-width: 80%;
    line-height: 1;
}